[build]
  command = "npm run build"
  publish = "dist"
  functions = "netlify/functions"

[build.environment]
  NODE_VERSION = "18"
  SECRETS_SCAN_OMIT_KEYS = "VITE_CONTACT_EMAIL,VITE_APPS_SCRIPT_URL"

[dev]
  command = "npm run dev"
  targetPort = 3000
  port = 8888
  publish = "dist"


[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/:splat"
  status = 200


